Django==2.2.10
dj-database-url==0.3.0
dj-static==0.0.6
Unipath==1.0
python-decouple==3
Pillow==3.3.0
Markdown==2.6.6
bleach==1.4.3
bcrypt==3.1.5
beautifulsoup4==4.6.3
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
decorator==4.3.0
django-crispy-forms==1.7.2
django-heroku==0.3.1
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
lxml==4.3.0
MarkupSafe==1.1.0
MechanicalSoup==0.11.0
passlib==1.7.1
pipenv==2018.11.26
prettytable==0.7.2
psycopg2==2.7.6.1
pycparser==2.19
pytz==2018.7
requests==2.21.0
selenium==3.141.0
six==1.12.0
SQLAlchemy==1.2.15
urllib3==1.24.1
validators==0.12.3
virtualenv==16.2.0
virtualenv-clone==0.4.0
Werkzeug==0.14.1
whitenoise==3.2
WTForms==2.2.1
